/* imports */
@font-face {
    font-family: "Bebas neue";
    src: url(../assets/Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Open sans";
    src: url(../assets/Fonts/Open_sans/static/OpenSans/OpenSans-Regular.ttf);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #080324;
}

/* DESKTOP FIRST */


/* Classes genéricas */
.layout-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */

header {
    height: 60px;
    background-color: #F9003D;
}

header .header-flex {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;

    
}

header nav a {
    text-decoration: none;
    font-family: "Bebas neue";
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 20px;
    border-radius: 8px;
}

header nav a:hover{
    text-shadow: 2px 2px 5px rgba(249, 0, 61, 0.3);
    background-color: white;
    color: #F9003D;
}

header #menu-mobile {
    display: none;
}

/* Main */

main .banner {
    position: relative;
    height: 740px;
    background-image: url(../assets/Images/imagem-fundo-banner\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
main .banner .layout-grid {
    position: absolute;
    left: 121px;
    top: 226px;
    
}

main .banner .layout-grid hr   {
    margin-top: 13px;
    border-width: 1px;
    width: 545px;
    border-color: #FFAF00;

}

main .banner .layout-grid h1{
    font-size: 96px;
    font-family: "Bebas neue";
    color: white;
    font-weight: normal;
}


main .banner .layout-grid p {
    font-size: 53px;
    margin-top: 29px;
    font-family: 'Courier New', Courier, monospace;
    color: #F9003D;
    font-weight: bold;
    text-transform: uppercase;
}

main .banner .layout-grid #mouse {
    margin-top: 29px;
}

/* sobre = section  */

main .sobre {
    height: 800px;
}

main .section-flex {
    display: flex;

}

main  .sobre div {
    margin-left: 140px;
    margin-top: 55px;
    
}
main  .sobre div h1 {
    margin-bottom: 64px;
    color: #F9003D;
    font-family: "Bebas neue";
    font-style: normal;
    font-size: 64px;
    font-weight: 400;
    line-height: 77px;
}

main .sobre #sobre {
    width: 491px;
    height: 476px;
}

main .sobre article {
    margin-right: 155px;
    margin-top: 196px;
}

main .sobre article h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
}

main .sobre article h3 {
    color: #FFAF00;
    margin-top: 10px;
    font-family: "Bebas neue";
    font-size: 64px;
    font-weight: 400;
    line-height: 77px;
}

main .sobre article p{
    margin-top: 10px;
    color: white;
    font-family: "Open sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

/* genérica =  section*/

main .genérica {
    height: 200px;
    background-image: url(../assets/Images/imagem-fundo-info\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
}

main .genérica-flex {
    display: flex;
    justify-content: space-between;
    
}

main .genérica article h4 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-style: bold;

}


main .genérica article p {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #A259F7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-style: bold;
    text-transform: uppercase;
    
    border: 2px solid #A259F7;
    width: 289px;
    height: 100px;

}

/* footer */

/* .endereço = section footer */

footer {
    background-image: url(../assets/Images/imagem-fundo-ranking\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 598px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer .endereço {
    margin-top: 81px;
    margin-left: 264px;
}

footer .endereço h5 {
    color: #FFAF00;
    font-size: 64px;
    font-family: "Bebas neue";
    font-weight: 400;
    line-height: 76px;
    text-transform: uppercase;
}

footer .endereço .borda {
    position: relative;
    border: 2px solid #340B65;
    background-color: #010010;
    width: 899px;
    height: 203px;
    
}

footer .endereço .borda p {
    color: #A259F7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 55px;
    margin-left: 66px;

}

footer .endereço #mapa {
    position: absolute;
    top: 2px;
    left: 65%;
    height: 195px;
}

footer .rodapé {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9003D;
    height: 82px;
}

footer .rodapé p {
    color: white;
    font-family: "Open sans";
    font-size: 18px;
}

/* MEDIA QUERIES */
/* tablets >=768px ate 991px*/
@media screen and (max-width: 991px) {
    
}

/* smartphones .=0 ate 767px */
@media screen and (max-width: 767px) {

    .mostrarMenu {
        left: 0;
        opacity: 1;
    }
    /* temporariamente */
    /* main, footer {
        display: none;
    } */
    
    header #menu-mobile {
        display: block;
    }
   
    

    header nav {
       position: fixed;
       z-index: 1000;
       top: 60px;
       left: -80vh;  /*viewport width*/
       width: 80vw;  /*view port height*/
       height: calc(100vh - 60px);
      
       background-color: #F9003D;
       flex-direction: column;
       justify-content: space-evenly;

       opacity: 0;
       transition: left 0.4s, opacity 0.6s;
    }

   header nav a {
    border-left: 3px solid white;
   }
  
   /* banner  */
   main .banner .layout-grid h1 {
    font-size: 40px;
   }

   main .banner .layout-grid hr {
    width: 200px;
   }









}